body {
  background-color: blue;
}

header {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 20px;
}
.grid-item {
  background-color: white;
  color: blue;
}
